
    <nav class="navbar navbar-expand-lg navbar-dark bg-info dz_header">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../../assets/DZ_logo1.gif" aria-label="company" width="30" height="24" class="d-inline-block align-text-top">
                <span style="font-family:Andale Mono, monospace;">DZ </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link active pointer" aria-current="page" routerLink="promise">promise </a>
                    <a class="nav-link pointer" routerLink="observable">observable</a>
                </div>
            </div>
        </div>
    </nav>

