<div class="my-3 text-monospace">
    <h4 style="font-family: 'Roboto';">Map Operator </h4>
    <br>
    <div class="row ">
        <div class="col-md-4 ">
            <strong>Ex.01</strong>
            <hr>
            <p class="tw border rounded bg-light text-monospace py-2 px-2 "> 
                <strong>Data :</strong>
               interval(1000)
            </p>
            <span class="font-weight-bold">transform data : </span><strong class="text-danger">{{ msg1 }} </strong>
        </div>  
        <div class="col-md-4">
            <strong>Ex.02</strong>
            <hr>
            <p class="tw border rounded bg-light text-monospace py-2 px-2 "> 
                <strong>Data :</strong>
               interval(1000) and add 10 to emmited data
            </p>
            <span class="font-weight-bold">transform data : </span><strong class="text-success">{{ msg2 }} </strong>
        </div> 
        <div class="col-md-4">
            <strong>Ex.03</strong>
            <hr>
            <p class="tw border rounded bg-light text-monospace py-2 px-2 "> 
                <strong>Data : </strong>list of course object and get observable of course name from it
            </p>
            <span class="font-weight-bold">transform data : </span>
            <ul id="elContainer"></ul>

        </div>   
    </div>
</div>