
/* if we create element dynamicaly and adding CSS/class to them from here then viewEncapsulation issue raises so add this classes in globle stylesheet files */
/* ul.listItems{

    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.listItems li {

    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;
}

ul.listItems.error li{

    color: red;
    background-color: #ff000029;
    border-color: red;
}


ul.listItems.complete li{

    color: green;
    background-color: #00800030;
    border-color: green;
}    */