<div class="my-3">
    <h4 style="font-family: 'Roboto';">From Event</h4>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Items</div>
                <div class="card-body">
                    <button #addBtn class="btn btn-primary">
                        ADD
                    </button>
                    <!-- <hr>
                    <button  class="btn btn-primary">
                        ADD
                    </button> -->
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">List</div>
                <div class="card-body">
                   <div id="elContainer1" class="ul">
                       
                   </div> 
                </div>
            </div>
        </div>
    </div>
</div>