<!-- <div style="border: 3px solid violet;padding:5px;background-color:dimgrey"> -->
    <!-- <div style="border: 3px solid yellow;background-color: darkslateblue;"> -->
        <app-header></app-header>
    <!-- </div> -->
    <!-- <div style="border: 3px solid deeppink;background-color: forestgreen;"> -->
    <!-- <div class="container" style="border: 1px solid black ;background-color: beige;"> -->
    <div class="container app-container text-monospace">
        <router-outlet></router-outlet>
    </div>
    <!-- </div> -->
<!-- </div> -->