<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">From Event</a>
            </li>
            <!-- <li>
                <a routerLink="fromEvent">From Event</a>
            </li>
            <li>
                <a routerLink="fromEvent">From Event</a>
            </li>
            <li>
                <a routerLink="fromEvent">From Event</a>
            </li>
            <li>
                <a routerLink="fromEvent">From Event</a>
            </li> -->
        </ul>
    </div>
</div>