<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">From Event</a>
            </li>
            <li>
                <a routerLink="interval">Interval & Timer</a>
            </li>
            <li>
                <a routerLink="of-from">Of & From Operator</a>
            </li>
            
            <li>
                <a routerLink="toArray">ToArray</a>
            </li>
            <li>
                <a routerLink="custom">Custom Observable</a>
            </li>
        </ul>
    </div>
</div>