<div class="my-3">
    <h5>promise demo</h5>
    <input class="form-control me-2" type="search" aria-label="Search" placeholder="Search By Name"
        name="searchTerm" [(ngModel)]="searchTerm">
    <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
    <!-- #{{ searchTerm }} -->
</div>
<div class="mt-3" >
    <table class="table">
        <thead>
            <tr>
                <th scope="col-md-1">#</th>
                <th scope="col-md-1">EMP ID</th>
                <th scope="col-md-1">NAME</th>
            </tr>
        </thead>
        <tbody *ngIf="filteredEmployees">
            <ng-template>
                <tr *ngFor="let employee of filteredEmployees">
                    <th scope="col-md-1"></th>
                    <th scope="col-md-1">#{{ employee.id }}</th>
                    <th scope="col-md-1">{{ employee.name }}</th>
                </tr>
            </ng-template>
            <ng-template #msg>
                <tr>
                    <th></th>
                </tr>                
            </ng-template>
        </tbody>
    </table>
</div>