<div class="my-10 component-container">
    <h4 style="font-family: 'fantasy';">PROMISE</h4>
    <hr>
    <p>Ex: 03</p>
    <input class="form-control me-2" type="search" aria-label="Search" placeholder="Search By Name" name="searchTerm"
        [(ngModel)]="searchTerm">
    <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
    <!-- #{{ searchTerm }} -->
</div>
<div class="mt-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col-md-1">#</th>
                <th scope="col-md-1">EMP ID</th>
                <th scope="col-md-1">NAME</th>
            </tr>
        </thead>
        <tbody *ngIf="filteredEmployees">
            <ng-template>
                <tr *ngFor="let employee of filteredEmployees">
                    <th scope="col-md-1"></th>
                    <th scope="col-md-1">#{{ employee.id }}</th>
                    <th scope="col-md-1">{{ employee.name }}</th>
                </tr>
            </ng-template>
            <ng-template #msg>
                <tr>
                    <th></th>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>
<!-- #e3f2fd -->
<div class="my-3" style="background-color: white">
    <strong>Async / Await demo</strong>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <strong>Ex- 01 : with promise</strong>
            <hr>
            <button class="btn btn-primary" (click)="onClick();fetch1()">getEmployee</button>
            <hr>
            <div id="result1"></div>
        </div>
        <div class="col-md-4">
            <strong>Ex- 01 : with Async / Await </strong>
            <hr>
            <button class="btn btn-primary" (click)="fetch2()">by laptop</button>
            <hr>
            <div id="result2"></div>
        </div>
        <div class="col-md-4">
            <strong>Ex- 01 : with fetch API</strong>
            <hr>
            <button class="btn btn-primary" (click)="fetch3()">by laptop</button>
            <hr>
            <div id="result3"></div>
        </div>
    </div>

</div>