<div class="my-3">
    <h4 style="font-family: 'Roboto';">toArray</h4>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex.01 </strong>
            <hr>
            <p class="border rounded bg-light py-2 px-2">
                <strong>Data :</strong> interval(1000) , here take only 5 from data stream and convert it into array
            </p>
            <strong>Result :</strong>
            <div id="elContainer1"> </div>
        </div>
        <div class="col-md-4">
            <strong>Ex.02 </strong>
            <hr>
            <p class="border rounded bg-light py-2 px-2">
                <strong>Data :</strong> from operator here input is array and convert it into Again array with
                transformation
            </p>
            <strong>Result :</strong>
            <div id="elContainer2"> </div>
        </div>
        <div class="col-md-4">
            <strong>Ex.02 </strong>
            <hr>
            <p class="border rounded bg-light py-2 px-2">
                <strong>Data :</strong> of operator here input is stream of data and convert it into  array .
            </p>
            <strong>Result :</strong>
            <div id="elContainer3"> </div>
        </div>
    </div>
</div>