/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor: pointer;
}

.app-container{

    background-color: ivory;

}

.component-container{
    padding: 2px;
    margin-top: 10px !important;
}

ul.listItems{

    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.listItems li {

    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;
}

ul.listItems.error li{

    color: red;
    background-color: #ff000029;
    border-color: red;
}


ul.listItems.completed li{

    color: green;
    background-color: #00800030;
    border-color: green;
} 

.tw{
    word-wrap: break-word !important;
}