/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor: pointer;
}

.app-container{

    background-color: ivory;

}

.component-container{
    padding: 2px;
    margin-top: 10px !important;
}